#asideBuscarProduto{ 
			width:200px; 
			height:240px;  
			position:absolute; 
			background-color: #777777;
			padding: 15px;
			padding-top: 5px;
		}
		aside #btn1{
			position: absolute;
			left: 5px;
			bottom: 5px;
		}
		aside #btn2{
			position: absolute;
			left: 70px;
			bottom: 5px;
		}