#buscaPessoa, #busca{
			position: absolute;
			left: 275px;					
			display:none;
		}	
		#btn{				
			position: relative;			
			margin: 2px;			
		}
		#direita{
			color: black;
			display: none;
			float: right;			
			border-style: solid;
			border-width: 2px 2px 2px 2px;
			width: 60%;
			height: 440px;
			overflow:auto;
			position: absolute;
			right: 0px;
		}
		#esquerda{
			color: black;
			display: block;
			float: left;
			width: 270px;
			height: 440px;
			border-style: solid;
			border-width: 2px 2px 2px 2px;
		}
		#validar{
			display: block;			
		}
		#rodape{						
			bottom: 0px;
			height: 50px;
			width: 100%;
			position: absolute;
			border: none;
			
		}
		#cabecalho{				
			height: 50px;
			overflow: hidden;
			width: 100%;
			transition: 1s;
			z-index: 1;
			position: absolute;
			border: none;
			top: 0px;
			left: 0px;
			background-color: #ccc;
		}
		#cabecalho:hover{				
			height: 250px;
		}
		html, body {
		  border: 0px;
		  margin: 0px;
		  padding: 0px;
		  background-color: #eee;
		}
		#meio{				
			height: calc(100% - 100px);						
			width: 100%;
			top: 50px;
			position: absolute;
			border: none;
		}