#btn, #del{				
			position: absolute;			
			margin: 2px;
			float: left;	
			display: inline-block;
			bottom: 0px;
		}
		a#btn{		
			left: 70px;
		}
		a#del{		
			left: 145px;
		}
		a{				
			position: relative;			
			margin: 2px;
			float: right;	
			display: inline-block;
		}
					
		#formCadastro{
			margin: 0px;
			color: black;
			display: block;
			float: none;
			overflow: hidden;
			width: auto;
			height: auto;
		}
		#iDocumento{
			display: inline-block;
			margin: 0px;
			
		}
		#pDocumento{
			display: inline-block;
			margin: 0px;
		}
		p, input{
			margin: 0px;
			margin-bottom: 5px;
		}